/*Google font*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 520px;
}

/*  Navbar  */
.nav-link {
	color: black !important;
	font-weight: bold;
}

.nav-link:hover {
	color: black !important;
}

.nav-item:hover {
	border-bottom: 2px solid #aa0000 !important;
}

/*  Login Box  */

.loginbox {
	width: 320px;
	height: 420px;
	background: white;
	color: black;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
}

.avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% -50px);
}

.h1 {
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.loginbox p {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.loginbox input {
	width: 100%;
	margin-bottom: 20px;
}

.loginbox input[type="text"] {
	border: none;
	border-bottom: 1px solid black;
	background: transparent;
	outline: none;
	height: 40px;
}

.loginbox input[type="Password"] {
	border: none;
	border-bottom: 1px solid black;
	background: transparent;
	outline: none;
	height: 40px;
}

.loginbox input[type="submit"] {
	border: none;
	outline: none;
	height: 40px;
	background: red;
	color: #fff;
	font-size: 18px;
	transition: 0.5s linear;
}

.loginbox input[type="submit"]:hover {
	cursor: pointer;
	background: #aa0000;
	color: white;
}

.loginbox a {
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgray;
	font-weight: bold;
}

.loginbox a:hover {
	color: #aa0000;
}

#email {
	position: absolute;
	top: 34%;
	transition: 0.2s linear;
}

#pass {
	position: absolute;
	top: 48%;
	transition: 0.2s linear;
}
