/*Google font*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
	box-sizing: border-box;
}

header,
section {
	overflow-x: hidden;
}

section {
	margin-top: 3em;
}

.navigation-bar {
	background-color: transparent;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 9998;
	transition: 0.5s ease-in;
}
.header a {
	font-family: 'Roboto Mono', monospace;
	font-size: 0.9em;
	color: black;
}

.header {
	background: whitesmoke;
}

.btn-tags {
	padding-left: 0.5em;
	padding-right: 0.5em;
	border-radius: 50px;
	font-weight: bold;
	background-color: #aa0000;
	color: white;
}

.btn-tags:hover {
	color: white !important;
}

/*  Navbar CSS  */

.nav-link {
	color: white;
	font-weight: bold;
}

.nav-link:hover {
	color: white;
}

.nav-item:hover {
	border-bottom: 2px solid #aa0000 !important;
}

.carousel-home-page,
.carousel-item,
.carousel-home-page div,
.carousel-inner {
	max-height: 700px;
}

.carousel-caption {
	top: 25%;
	left: 15%;
	right: 50%;
	text-align: left;
}

.carousel-caption h1 {
	font-size: 50px;
	text-shadow: 1px 1px 1px white;
	text-align: left;
	animation: fade-in 1s ease-out 0.2s 1 forwards;
}

.carousel-caption p {
	position: absolute;
	font-size: 20px;
	margin-top: 1em;
	text-shadow: 1px 1px 1px white;
	opacity: 0;
	animation: slide-in-from-below 0.5s ease-in 1.2s 1 forwards;
}

.carousel-caption button {
	position: absolute;
	top: 200px;
	padding: 15px 50px;
	border-radius: 50px;
	font-size: 25px;
	font-weight: bold;
}

.promo-container {
	width: 25%;
	border-radius: 5px;
	position: absolute;
	background-color: white;
	bottom: -25px;
	right: 5%;
	z-index: 9997;
	height: 400px;
}

.promo-container .video-container {
	width: 95%;
	margin: auto;
	border-radius: 5px;
	background-color: black;
	height: 200px;
	margin-top: 0.5em;
}

.promo-container .title {
	font-size: 25px;
	font-weight: bold;
	margin-top: 0.5em;
	margin-left: 0.5em;
	color: rgba(0, 0, 0, 0.7);
}

.promo-container .desc {
	color: rgba(0, 0, 0, 0.7);
	font-size: 20px;
	margin-left: 0.5em;
}

.navbar-brand img {
	width: 25%;
}

.navbar-toggler {
	border-color: white;
}

.lines {
	width: 100%;
	height: 2px;
	border-radius: 50px;
	background-color: white;
	margin-top: 0.3em;
}

/*  Section 1 CSS  */

.section-1 {
	margin-top: 5em;
}

.section-title {
	font-weight: bolder;
	font-size: xx-large;
	color: rgba(0, 0, 0, 0.7);
	margin-bottom: 1em;
}

.section-title::selection {
	background-color: wheat;
}

.card:hover {
	box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
}

/*  Section 2  */
.tags > div > p {
	font-size: 18px;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.7);
	margin-right: 0.5em;
	/*margin-bottom: 0.25rem !important;*/
}

.tags > button {
	margin-left: 0.5em;
	margin-right: 0.5em;
}
.rows {
	margin-top: 2em;
}

/*  Footer  */
footer {
	background-color: whitesmoke;
	width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*  Animations  */
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slide-in-from-below {
	0% {
		opacity: 0;
		top: 90px;
	}
	25% {
		opacity: 0.2;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
		top: 75px;
	}
}
